In [1]:
# THERE ARE SEPARATE NOTEBOOKS FOR VISUALIZATIONS, DATASET ANALYSIS, ETC. IN THE REPO.

import pandas as pd
import numpy as np

# READ THE CSV INTO DATAFRAME

df = pd.read_csv('Syngenta/Syngenta_2017/Experiment_dataset.csv')

df_sf = pd.read_csv('Smart_Farm_dataset.csv')

In [ ]:
# THIS IS USED WHEN CONNECTING TO COMPUTE NODES TO CHECK IF EVERYTHING IS WORKING
import os
print(os.getcwd())

In [ ]:
# CURRENTLY NECESSARY IF: USING 174 ADDITIONAL VARIETY COLUMNS METHOD

variety_dummies = pd.get_dummies(df.Variety)
df = pd.concat([df, variety_dummies], axis=1)

In [ ]:
# CURRENTLY NECESSARY IF: USING 8 ADDITIONAL VARIETY COLUMNS (BINARY REPRESENTATION)

UNIQUE_VARIETIES = np.unique(df.Variety)
INDICES = [i for i in range(0, len(UNIQUE_VARIETIES))]
print(np.where(UNIQUE_VARIETIES=='V000017'))
df.Variety = df.Variety.apply(lambda var: np.where(UNIQUE_VARIETIES==var)[0][0])
print(UNIQUE_VARIETIES)
print(df.Variety)

df.Variety = df.Variety.apply(lambda var: '{0:08b}'.format(var))
print("done")
df.Variety = df.Variety.apply(lambda var: list(var))
print("done")
variety_binary_df = pd.DataFrame(pd.Series(df.Variety[i]) for i in range(0, len(df.Variety)))
df = pd.concat([df, variety_binary_df], axis=1)

In [3]:
# GOAL OF THIS MODULE:
# Encode the planting date as a season
# NEW GOAL:
# GET DUMMIES FOR SEASONS

# remove the dates that are "."
df = df[~df['Planting date'].str.match("\.")]
plant_date = df['Planting date'].apply(lambda dt: pd.to_datetime(dt))
plant_months = plant_date.apply(lambda dt: dt.month)
season = plant_date.rename("Season")
season = pd.to_datetime(season)
season = season.apply(lambda dt: (dt.month%12 + 3)//3)
# df['Plant date'] = pd.to_datetime(df['Plant date'])
df = pd.concat([df, season], axis=1)

# plant_date = pd.to_datetime(df['Planting date'], infer_datetime_format=True)
# df = df['Planting date'].apply(lambda dt: (dt.month%12 + 3)//3)
# pd.get_dummies(df['Planting date'])

In [4]:
# ADD MONTH OF MAY AND JUNE ONE HOT ENCODING INTO THE DATAFRAME
pd.get_dummies(plant_months).sum()
june = pd.get_dummies(plant_months).loc[:,6]
june = june.rename("June")
may = pd.get_dummies(plant_months).loc[:,5]
may = may.rename("May")
df = pd.concat([df, may], axis=1)
df = pd.concat([df, june], axis=1)

In [5]:
# LATITUDE AND LONGITUDE CLUSTERING INTO FEATURES

from sklearn.cluster import KMeans

latlong = df.loc[:, ['Latitude', 'Longitude']]

kmeans = KMeans(n_clusters=4, random_state=0).fit(latlong)
kmeans.labels_.shape
lat_long_dummies = pd.get_dummies(kmeans.labels_)
lat_long_dummies = lat_long_dummies.rename(index=int, columns={0: "Loc Clust 0",
                                                               1: "Loc Clust 1",
                                                               2: "Loc Clust 2",
                                                               3: "Loc Clust 3"})
df = pd.concat([df, lat_long_dummies], axis = 1)

In [6]:
#REMOVE ANY NAN VALUES

print(df.columns)
df = df[~df.Silt.isnull()]
df = df[~df['Loc Clust 1'].isnull()]

Index(['Experiment', 'Location', 'Variety', 'Planting date', 'Yield',
       'Check Yield', 'Yield difference', 'Year', 'Latitude', 'Longitude',
       'Temperature', 'Precipitation', 'Solar Radiation', 'Soil class', 'CEC',
       'Organic matter', 'pH', 'Clay', 'Silt', 'Sand', 'PI', 'Area', 'Season',
       'May', 'June', 'Loc Clust 0', 'Loc Clust 1', 'Loc Clust 2',
       'Loc Clust 3'],
      dtype='object')

In [ ]:
for col in df.columns:
    print(col, type(df[col][0]))

In [7]:
# DROP ALL THE CELLS THAT ARE NOT USABLE SUCH AS THE ONES THAT ARE STRINGS OR DATES

# set if want to drop some columns specifically
should_drop = 1
columns_to_drop = ['Experiment', 'Location',
                   'Check Yield', 'Yield difference', 'Latitude',
                   'Longitude', 'PI', 'Variety', 'Planting date', 'Season']

# set if want to keep some columns specifically
should_keep = 0
# columns_to_keep = ['Loc Clust 0', 'Loc Clust 1', 'Loc Clust 2', 'Loc Clust 3']
columns_to_keep_top = ['Silt', 'Precipitation', 'Temperature', 'Solar Radiation', 'Organic matter']
columns_VARIETIES_ONLY = np.asarray(df.iloc[:, df.columns.str.match('V\d\d\d\d\d\d')].columns)

#set the below variable to whatever columns you want to keep
columns_to_keep = columns_to_keep_top

MUST_HAVE_COLUMNS = ['Yield']
# print(columns_to_keep)

df = df.drop(columns_to_drop, axis=1) if should_drop else df
df = df.loc[:, np.concatenate((columns_to_keep, MUST_HAVE_COLUMNS))] if should_keep else df
df['YieldBucket'] = pd.Series(pd.qcut(df.Yield, q=3, labels=["high", "medium", "low"]))
print("The final dataframe has columns: ", df.columns)

The final dataframe has columns:  Index(['Yield', 'Year', 'Temperature', 'Precipitation', 'Solar Radiation',
       'Soil class', 'CEC', 'Organic matter', 'pH', 'Clay', 'Silt', 'Sand',
       'Area', 'May', 'June', 'Loc Clust 0', 'Loc Clust 1', 'Loc Clust 2',
       'Loc Clust 3', 'YieldBucket'],
      dtype='object')

In [ ]:
# LET US ALSO MAKE SURE THERE ARE NO NAN IN THE DATA
print("We expect to be %s nan values and there actually are %s nan values\n" % (0, np.sum(df.isnull().sum())))
print(df.isnull().sum())
# AFTER COLUMNS, MAKE SURE NO SKETCHY ONES
for col in df.columns:
    print(col, type(df[col][0]))

In [8]:
# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT
# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT
# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT
# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT# TRAIN AND TEST SPLIT

X = df.drop(['Yield', 'YieldBucket'], axis=1)

print(X.columns)

y = df.Yield

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.05, train_size = 0.1, random_state = 42)

INPUT_COLS = X_train.columns
# TEST_COLS = y_train.columns

Index(['Year', 'Temperature', 'Precipitation', 'Solar Radiation', 'Soil class',
       'CEC', 'Organic matter', 'pH', 'Clay', 'Silt', 'Sand', 'Area', 'May',
       'June', 'Loc Clust 0', 'Loc Clust 1', 'Loc Clust 2', 'Loc Clust 3'],
      dtype='object')

In [9]:
print("X_train shape:", X_train.shape, "\ny_train shape:", y_train.shape)

X_train shape: (7813, 18)
y_train shape: (7813,)

In [10]:
# This function will evaluate the errors based on RMSE (from the challenge spec)
# also will evaluate based on average error

from sklearn.metrics import mean_squared_error
def evaluate_errors(prediction, actual):
    print("RMSE Error: ", np.sqrt(mean_squared_error(prediction, actual)))
    avg_error_vector = np.absolute(((preds - y_test) / y_test) * 100)
#     print("Average Error: ", np.mean(avg_error_vector))
    print("Average Error details:\n", avg_error_vector.describe())
    return avg_error_vector

In [ ]:
from lightgbm import LGBMRegressor

clf = LGBMRegressor(n_estimators=1000, learning_rate=0.01)
clf.fit(X_train, np.log1p(y_train))
preds = np.expm1(clf.predict(X_test))
evaluate_errors(preds, y_test)

In [11]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators=20, max_depth=13, random_state=0, verbose=1, n_jobs=-1)
regr.fit(X_train, y_train)
preds = regr.predict(X_test)

evaluate_errors(preds, y_test)

RMSE Error:  7.404785186969437
Average Error details:
 count    3907.000000
mean       10.565774
std        11.455470
min         0.002280
25%         3.511498
50%         7.616182
75%        13.677386
max       197.281042
Name: Yield, dtype: float64

[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:    0.1s finished
[Parallel(n_jobs=20)]: Done   2 out of  20 | elapsed:    0.0s remaining:    0.2s
[Parallel(n_jobs=20)]: Done  20 out of  20 | elapsed:    0.0s finished

37747     3.023815
34960     7.198115
77631     2.825352
29678     3.136440
58370     3.685283
44709     6.386415
37353     2.379666
11083    11.007744
65678     9.156382
68237     7.646327
69975    12.573523
53136     4.921622
25669    29.577871
22055     6.077461
53416     2.523629
1165     20.627535
21660    27.801441
10943    17.636145
29486     3.421652
73128     3.995045
77434    10.938201
74450     7.009889
29534     5.777550
79136     4.183589
51908     5.548448
6382      7.391764
4497     11.379614
29180     8.188265
40968    14.865222
56236     5.234357
           ...
55268     9.446306
36424     8.963997
38873     0.661564
53108     3.203873
57176     7.309249
9969      3.859484
63588     2.630800
53502    12.020692
45568     6.506807
5098     14.526325
27685    22.412765
19609    64.562177
31942    10.804728
3338     11.334763
62444    10.501975
67291     2.332348
47450     9.549224
11728     8.788222
3337     14.216159
49107    12.372128
19969    20.919254
55298    12.126365
52721     7.850279
15185    13.705117
31732     8.102342
78093    13.025233
53280     1.460203
63604    20.886309
41242     2.736085
19341     4.221188
Name: Yield, Length: 3907, dtype: float64

In [12]:
# GET OUTPUT OF FEATURE IMPORTANCE
def get_feature_importances(regr):
    feature_importances = regr.feature_importances_
    feature_importances = pd.Series(feature_importances)
    feature_importance_df = pd.DataFrame({'feature': X_train.columns,'feature_importance': feature_importances})
    feature_importance_df = feature_importance_df.sort_values(by=['feature_importance'])
    for index, row in feature_importance_df.iterrows():
        print(row['feature'], 'has importance: ', row['feature_importance'])
get_feature_importances(regr)

Loc Clust 0 has importance:  0.012890156488064467
Loc Clust 3 has importance:  0.013915496293010268
Loc Clust 2 has importance:  0.013996485973801556
Loc Clust 1 has importance:  0.014975083610222286
Soil class has importance:  0.016145004016204077
June has importance:  0.018097253354624993
May has importance:  0.021369949647420936
Clay has importance:  0.03787393818991075
Sand has importance:  0.046254055263236775
pH has importance:  0.05433367033485603
CEC has importance:  0.055163539144148774
Area has importance:  0.06412638830101888
Solar Radiation has importance:  0.08059789601140775
Temperature has importance:  0.08516317710895183
Year has importance:  0.08614454802498779
Organic matter has importance:  0.09373563257912265
Precipitation has importance:  0.11336476020901129
Silt has importance:  0.1718529654499989

In [ ]:
import numpy as np
from sklearn import linear_model
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.neural_network import MLPRegressor

from sklearn.feature_selection import RFECV
from sklearn.ensemble import RandomForestRegressor


classifiers = [
#     MLPRegressor(solver='lbfgs', alpha=1e-5,
#                      hidden_layer_sizes=(5, 2), random_state=1),
#     RandomForestRegressor(n_estimators=20, max_depth=13, random_state=0, verbose=1, n_jobs=-1),
#     linear_model.SGDRegressor(),
#     linear_model.BayesianRidge(),
#     linear_model.LassoLars(),
#     linear_model.ARDRegression(),
#     linear_model.PassiveAggressiveRegressor(),
#     linear_model.TheilSenRegressor(),
#     linear_model.LinearRegression(),
    svm.SVR(kernel="linear"),
    linear_model.ARDRegression()]

# estimator = svm.SVR(kernel="linear")
# estimator = 

# selector = RFECV(estimator, step=1, cv=5, verbose=1, n_jobs=-1)
# selector = selector.fit(X_train, y_train)
# selector.support_ 
# # array([ True,  True,  True,  True,  True,
# #         False, False, False, False, False], dtype=bool)
# selector.ranking_
# # array([1, 1, 1, 1, 1, 6, 4, 3, 2, 5])


#     print(np.sum(preds - y_test))
#     print(clf.predict(X_test),'\n')
#     print(y_test)
#     print('accuracy score:', accuracy_score(y_test, clf.predict(X_test)), '\n')

In [ ]:
for item in classifiers:
    print(item)
    clf = item
    selector = selector = RFECV(clf, step=1, verbose=1, n_jobs=-1)
    selector = selector.fit(X_train, y_train)
    print(selector.support_)
    print(selector.ranking_)

In [ ]:
INPUT_COLS = X_train.columns

outputs = "1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1"
[ 4 10  9 11  8  7  3  2  1  1  1  1  1  5  6  1]
import re
outputs = re.sub(r'\n', '', outputs)
outputs = re.sub(r'  ', ' ', outputs)
outputs = re.sub(r' ', ',', outputs)
# print(outputs)

# outputs.replace('\n', "")
# outputs.replace("  ", ",")
output = np.asarray(outputs.split(','))
print(output)
output = output == "1"

for i in range(0, len(output)):
    if output[i] == True:
        print("CHOSEN: ", INPUT_COLS[i])
    else:
        print("NOT CHOSEN: ,", INPUT_COLS[i])

In [ ]:
output

In [ ]:
from sklearn import ensemble
params = {'n_estimators': 500, 'max_depth': 4, 'min_samples_split': 2,
          'learning_rate': 0.01, 'loss': 'ls'}
clf = ensemble.GradientBoostingRegressor(**params)

clf.fit(X_train, y_train)

In [ ]:
preds = clf.predict(X_test)
errors = evaluate_errors(preds, y_test)

In [ ]:
for item in classifiers:
    print(item)
    clf = item
    clf.fit(X_train, y_train)
    preds = clf.predict(X_test)
    errors = evaluate_errors(preds, y_test)
    try:
        get_feature_importances(clf)
    except:
        print("NO FEATURE IMPORTANCE METRIC")

In [ ]:
# THIS WILL ONLY WORK WITH THE BUCKET METHOD

from sklearn.ensemble import RandomForestClassifier
regr = RandomForestClassifier(n_estimators=10, max_depth=20, random_state=0, verbose=1)
regr.fit(X_train, y_train)
preds = regr.predict(X_test)

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, preds))

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_moons, make_circles, make_classification
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis

classifiers = [
#     KNeighborsClassifier(3),
#     SVC(kernel="linear", C=0.025),
    SVC(gamma=2, C=1),
#     GaussianProcessClassifier(1.0 * RBF(1.0)),
#     DecisionTreeClassifier(max_depth=5),
    RandomForestClassifier(max_depth=5, n_estimators=10, max_features=1),
    MLPClassifier(alpha=1),
    AdaBoostClassifier(),
    GaussianNB(),
    QuadraticDiscriminantAnalysis()]
from sklearn.metrics import accuracy_score
for item in classifiers:
    print(item)
    clf = item
    clf.fit(scale(X_train), y_train)
    preds = clf.predict(scale(X_test))
    print(accuracy_score(y_test, preds))
#     errors = np.absolute(((preds - y_test) / y_test) * 100)
#     print(errors)
#     print(np.mean(errors))

In [ ]:
import random

NUM_VARIETIES = 174

def best_yield_variety(regr, test_set, random_sel = True, n_samples = 174, print_variety_preds = True):
    
    #create empty df
    dup_df = pd.DataFrame()
    
    #choose a rand sample of input test_set (for dev purposes, wouldn't be used in app)
    test_set_sample = test_set.sample(n= n_samples) if random_sel else test_set
    
    #progress of intensive, long for loop upcoming
    counter = 0
    
    #for loop will, for each row in test_set_sample, duplicate that row by NUM_VARIETIES
    for index, row in test_set_sample.iterrows():
        counter+=1
        print(counter)
        dup_df = dup_df.append([row] * NUM_VARIETIES, ignore_index = True)
        
    #extract the varieties columns
    duplicated_df_varieties = dup_df.loc[:, dup_df.columns.str.match('V\d\d\d\d\d\d')]
    #extract the names of the varieties
    varieties_array = duplicated_df_varieties.columns
    num_expanded_data_pts = duplicated_df_varieties.shape[0]
    #we must have a zeroed matrix of the same shape as the duplicated_df_varieties
    #so that we can input a 1 just once for each variety per 174 rows
    d = np.zeros((duplicated_df_varieties.shape[0], NUM_VARIETIES))
    #make d our dataframe, with columns equal to the varieties
    duplicated_df_varieties = pd.DataFrame(d, columns=varieties_array)
    #for loop will place a 1 just once for each variety per 174 rows (one hot rep)
    for i in range(duplicated_df_varieties.shape[0]):
        var_index = i % 174
        duplicated_df_varieties.loc[i, varieties_array[var_index]] = 1
    #remove the varieties (will be added back with the new values)
    dup_df = dup_df.drop(varieties_array, axis = 1)
    #add the new values (one hot representations) from above for loop
    dup_df = pd.concat([dup_df, duplicated_df_varieties], axis=1)
    #do prediction on the entire dataframe
    preds_per_variety = regr.predict(dup_df)
    #*******make it into a dataframe where each row will give the performance of each variety
    #with the same environmental conditions*******
    preds_df = pd.DataFrame(preds_per_variety.reshape((int(num_expanded_data_pts/NUM_VARIETIES), NUM_VARIETIES)),
                            columns=varieties_array)
    
    #environmental conditions (everything except the variety data)
    envcond = test_set_sample.drop(varieties_array, axis=1)
    
    #a simple print out for best variety given the environmental conditions
    hr_preds = []
    if print_variety_preds:
        envcond_cols = envcond.columns
        counter = -1
        for idx, row in envcond.iterrows():
            counter+=1
            out = "For environmental conditions:\n%s\nthe best variety is:%s" % (row, preds_df.idxmax(axis=1)[counter])
            hr_preds.append(out)
            print(out)
    
    return preds_df, envcond, hr_preds
    
        
preds_df, envcond, hr_preds = best_yield_variety(regr, X_test, n_samples = 500)

In [ ]:
#find number of times a variety is the maximum in the above prediction dataframe
maxes = preds_df.idxmax(axis=1) # get first max variety per env
# print(pd.get_dummies(maxes).describe())
print(pd.get_dummies(maxes).sum().sort_values(ascending=False))

In [ ]:
#find number of times a variety is the maximum in the above prediction dataframe
maxes = preds_df.idxmax(axis=1) # get first max variety per env
# print(pd.get_dummies(maxes).describe())
print(pd.get_dummies(maxes).sum().sort_values(ascending=False))
print(len(pd.get_dummies(maxes).sum()))

In [ ]:
print(hr_preds[0])

In [ ]:
preds_df.describe().sort_values(by="mean", axis=1)

In [ ]:
preds_df.describe().loc['mean',:].sort_values().describe()

In [ ]:
>>> df = pd.DataFrame({
...     'length': [1.5, 0.5, 1.2, 0.9, 3],
...     'width': [0.7, 0.2, 0.15, 0.2, 1.1]
...     }, index= ['pig', 'rabbit', 'duck', 'chicken', 'horse'])
>>> hist = df.hist(bins=20)

In [ ]:
df_sf = pd.concat([df_sf, pd.get_dummies(df_sf['Loc'])], axis=1)
df_sf = pd.concat([df_sf, pd.get_dummies(df_sf['Gen'])], axis=1)

In [5]:
df_sf

,DAP,Gen,Loc,PlantID,Date,GrowthRate,Temperature,Solar.Rad,Humidity,Rainfall
0,1,A,K,1 # 2 # 4 # 5 # 6,5/4/16,0.035015,67,22.28,52.82,0.000000
1,2,A,K,1 # 2 # 4 # 5 # 6,5/5/16,0.038041,77,22.32,60.94,0.000000
2,3,A,K,1 # 2 # 4 # 5 # 6,5/6/16,0.041329,83,26.10,81.27,0.000000
3,4,A,K,1 # 2 # 4 # 5 # 6,5/7/16,0.044901,85,23.08,65.71,0.000000
4,5,A,K,1 # 2 # 4 # 5 # 6,5/8/16,0.048783,85,22.64,62.41,0.000000
5,6,A,K,1 # 2 # 4 # 5 # 6,5/9/16,0.052999,81,20.30,47.66,0.000000
6,7,A,K,1 # 2 # 4 # 5 # 6,5/10/16,0.057580,76,21.31,47.93,0.000000
7,8,A,K,1 # 2 # 4 # 5 # 6,5/11/16,0.062557,87,22.32,49.38,0.000000
8,9,A,K,1 # 2 # 4 # 5 # 6,5/12/16,0.067964,72,23.33,67.23,0.000000
9,10,A,K,1 # 2 # 4 # 5 # 6,5/13/16,0.073839,75,25.09,83.94,0.000000
10,11,A,K,1 # 2 # 4 # 5 # 6,5/14/16,0.080221,81,20.38,64.41,0.000000
11,12,A,K,1 # 2 # 4 # 5 # 6,5/15/16,0.087155,57,19.15,52.71,0.000000
12,13,A,K,1 # 2 # 4 # 5 # 6,5/16/16,0.094688,61,21.85,52.64,0.000000
13,14,A,K,1 # 2 # 4 # 5 # 6,5/17/16,0.102872,57,22.79,66.06,0.000000
14,15,A,K,1 # 2 # 4 # 5 # 6,5/18/16,0.111764,58,22.18,65.08,0.000000
15,16,A,K,1 # 2 # 4 # 5 # 6,5/19/16,0.121424,65,21.64,56.00,0.000000
16,17,A,K,1 # 2 # 4 # 5 # 6,5/20/16,0.131920,64,24.88,83.16,0.000000
17,18,A,K,1 # 2 # 4 # 5 # 6,5/21/16,0.143322,72,23.80,64.87,0.000000
18,19,A,K,1 # 2 # 4 # 5 # 6,5/22/16,0.155710,85,23.40,71.21,0.000000
19,20,A,K,1 # 2 # 4 # 5 # 6,5/23/16,0.169169,87,19.22,52.67,0.000000
20,21,A,K,1 # 2 # 4 # 5 # 6,5/24/16,0.183791,84,22.64,56.57,0.000000
21,22,A,K,1 # 2 # 4 # 5 # 6,5/25/16,0.199677,93,24.52,74.88,0.000000
22,23,A,K,1 # 2 # 4 # 5 # 6,5/26/16,0.216936,93,24.08,76.57,0.000000
23,24,A,K,1 # 2 # 4 # 5 # 6,5/27/16,0.235687,88,24.08,69.32,0.000000
24,25,A,K,1 # 2 # 4 # 5 # 6,5/28/16,0.256059,77,23.72,67.65,0.000000
25,26,A,K,1 # 2 # 4 # 5 # 6,5/29/16,0.278191,81,22.64,62.15,0.000000
26,27,A,K,1 # 2 # 4 # 5 # 6,5/30/16,0.302237,86,25.45,72.08,0.000000
27,28,A,K,1 # 2 # 4 # 5 # 6,5/31/16,0.328360,87,26.68,78.11,0.000000
28,29,A,K,1 # 2 # 4 # 5 # 6,6/1/16,0.356742,75,26.24,82.57,0.000000
29,30,A,K,1 # 2 # 4 # 5 # 6,6/2/16,0.387577,75,21.85,61.87,0.000000
...,...,...,...,...,...,...,...,...,...,...
370,71,B,N,1 # 2 # 4 # 5 # 6,7/20/16,3.838321,95,33.59,29.19,0.000000
371,72,B,N,1 # 2 # 4 # 5 # 6,7/21/16,4.150010,100,33.88,45.64,0.000000
372,73,B,N,1 # 2 # 4 # 5 # 6,7/22/16,4.480766,100,31.21,26.90,0.005833
373,74,B,N,1 # 2 # 4 # 5 # 6,7/23/16,4.828550,98,34.92,38.93,0.000521
374,75,B,N,1 # 2 # 4 # 5 # 6,7/24/16,5.189453,96,34.52,46.39,0.000000
375,76,B,N,1 # 2 # 4 # 5 # 6,7/25/16,5.556872,85,31.54,35.35,0.000000
376,77,B,N,1 # 2 # 4 # 5 # 6,7/26/16,5.920461,89,31.07,26.70,0.000000
377,78,B,N,1 # 2 # 4 # 5 # 6,7/27/16,6.264949,92,31.72,22.00,0.000000
378,79,B,N,1 # 2 # 4 # 5 # 6,7/28/16,6.569069,87,32.15,19.07,0.007812
379,80,B,N,1 # 2 # 4 # 5 # 6,7/29/16,6.805101,78,32.18,20.15,0.000000
380,81,B,N,1 # 2 # 4 # 5 # 6,7/30/16,6.939912,83,32.58,23.51,0.000000
381,82,B,N,1 # 2 # 4 # 5 # 6,7/31/16,6.938528,89,32.80,28.32,0.000000
382,83,B,N,1 # 2 # 4 # 5 # 6,8/1/16,6.770950,94,32.98,33.79,0.000000
383,84,B,N,1 # 2 # 4 # 5 # 6,8/2/16,6.421510,95,35.21,39.23,0.000000
384,85,B,N,1 # 2 # 4 # 5 # 6,8/3/16,5.897762,90,36.43,38.14,0.000000
385,86,B,N,1 # 2 # 4 # 5 # 6,8/4/16,5.234138,95,35.89,38.49,0.000000
386,87,B,N,1 # 2 # 4 # 5 # 6,8/5/16,4.486770,81,35.14,28.45,0.000000
387,88,B,N,1 # 2 # 4 # 5 # 6,8/6/16,3.720411,73,35.28,24.72,0.000000
388,89,B,N,1 # 2 # 4 # 5 # 6,8/7/16,2.993216,71,34.67,26.89,0.000000
389,90,B,N,1 # 2 # 4 # 5 # 6,8/8/16,2.346042,72,35.06,25.65,0.000104
390,91,B,N,1 # 2 # 4 # 5 # 6,8/9/16,1.799330,85,34.13,37.64,0.000000
391,92,B,N,1 # 2 # 4 # 5 # 6,8/10/16,1.356225,97,35.14,47.99,0.000000
392,93,B,N,1 # 2 # 4 # 5 # 6,8/11/16,1.008475,97,32.33,67.36,0.000104
393,94,B,N,1 # 2 # 4 # 5 # 6,8/12/16,0.742180,88,32.00,47.62,0.000104
394,95,B,N,1 # 2 # 4 # 5 # 6,8/13/16,0.541986,83,34.74,51.59,0.000000
395,96,B,N,1 # 2 # 4 # 5 # 6,8/14/16,0.393529,87,35.60,49.24,0.000000
396,97,B,N,1 # 2 # 4 # 5 # 6,8/15/16,0.284536,89,34.13,42.74,0.000000
397,98,B,N,1 # 2 # 4 # 5 # 6,8/16/16,0.205101,93,36.76,68.52,0.000000
398,99,B,N,1 # 2 # 4 # 5 # 6,8/17/16,0.147515,90,37.08,64.36,0.000000
399,100,B,N,1 # 2 # 4 # 5 # 6,8/18/16,0.105927,93,34.09,66.44,0.000313

In [ ]:
df_sf.loc[95:105]

In [ ]:
df_sf = df_sf.drop(['PlantID'], axis=1)

In [ ]:
df_sf = df_sf.drop(['Date', 'Loc', 'Gen', 'PlantID'], axis=1)

In [ ]:
df_sf.loc[90:100]

In [ ]:
X_train = pd.DataFrame()
y_train = np.array([])
X_test = pd.DataFrame()
y_test = np.array([])
true_index_counter = -1
for i in range (0, int(len(df_sf)/100)):
    for k in range (1, 101):
        true_index_counter += 1
        if k <= 95:
#             X_train = pd.concat([X_train, df_sf.loc[true_index_counter].drop(['GrowthRate'])])
            X_train = X_train.append(df_sf.loc[true_index_counter].drop(['GrowthRate']))
            print(true_index_counter)
            
#             y_train = pd.concat([y_train, df_sf.loc[true_index_counter, 'GrowthRate']])
            y_train = np.append(y_train, df_sf.loc[true_index_counter, 'GrowthRate'])
        else:
            X_test = X_test.append(df_sf.loc[true_index_counter].drop(['GrowthRate']))
#             y_train = pd.concat([y_train, df_sf.loc[true_index_counter, 'GrowthRate']])
            y_test = np.append(y_test, df_sf.loc[true_index_counter, 'GrowthRate'])

In [ ]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(n_estimators=20, max_depth=13, random_state=0, verbose=1, n_jobs=-1)
regr.fit(X_train, y_train)
preds = regr.predict(X_test)

preds = pd.DataFrame(preds)
y_test = pd.DataFrame(y_test)
evaluate_errors(preds, y_test)

In [ ]:
print(preds, y_test)

On branch master
Your branch is up-to-date with 'origin/master'.
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   Syngenta_yield_prediction_used_modules.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [ ]:
from lightgbm import LGBMRegressor

clf = LGBMRegressor(n_estimators=1000, learning_rate=0.01)
clf.fit(X_train, np.log1p(y_train))
preds = np.expm1(clf.predict(X_test))

preds = pd.DataFrame(preds)
y_test = pd.DataFrame(y_test)

evaluate_errors(preds, y_test)