In [1]:
import pandas as pd
import numpy as np

# READ THE CSV INTO DATAFRAME

df = pd.read_csv('Syngenta/Syngenta_2017/Experiment_dataset.csv')

# np_ar = np.asarray(df)
# df2 = pd.read_csv('Syngenta/Syngenta_2017/Region_dataset.csv')

In [44]:
!git push

fatal: The remote end hung up unexpectedly

In [ ]:
df

In [ ]:
print(df['Planting date'][[np.random.randn]])
# print(df.columns)
# print(df.Temperature.describe())
# import random
# for i in range(0, 500):
#     print(random.choice(df['Planting date']))

In [ ]:
df['Silt'].describe()

In [2]:

UNIQUE_VARIETIES = np.unique(df.Variety)
INDICES = [i for i in range(0, len(UNIQUE_VARIETIES))]
print(np.where(UNIQUE_VARIETIES=='V000017'))
df.Variety = df.Variety.apply(lambda var: np.where(UNIQUE_VARIETIES==var)[0][0])
print(UNIQUE_VARIETIES)
print(df.Variety)

(array([1]),)
['V000016' 'V000017' 'V000018' 'V000023' 'V000024' 'V000025' 'V000030'
 'V000032' 'V000034' 'V000036' 'V000039' 'V000047' 'V000050' 'V000051'
 'V000058' 'V000060' 'V000062' 'V000067' 'V000070' 'V000071' 'V000075'
 'V000078' 'V000079' 'V000080' 'V000081' 'V000082' 'V000092' 'V000096'
 'V000098' 'V000110' 'V000115' 'V000122' 'V000123' 'V000124' 'V000125'
 'V000134' 'V000147' 'V000157' 'V000172' 'V000721' 'V031243' 'V051214'
 'V103132' 'V103136' 'V103139' 'V103142' 'V103150' 'V103155' 'V103156'
 'V103159' 'V103163' 'V103173' 'V103193' 'V103198' 'V103259' 'V103266'
 'V103273' 'V103277' 'V103281' 'V103286' 'V103293' 'V103302' 'V103303'
 'V103308' 'V103332' 'V103425' 'V103466' 'V103620' 'V103624' 'V103866'
 'V103970' 'V104000' 'V110768' 'V110890' 'V110923' 'V111237' 'V111336'
 'V113396' 'V113424' 'V113476' 'V114530' 'V114541' 'V114545' 'V114553'
 'V114564' 'V114565' 'V114655' 'V114944' 'V114951' 'V119975' 'V120038'
 'V120047' 'V120246' 'V120410' 'V120585' 'V120810' 'V120912' 'V120999'
 'V121015' 'V121097' 'V121140' 'V121524' 'V124343' 'V130305' 'V130307'
 'V130308' 'V131675' 'V131778' 'V136868' 'V137136' 'V137147' 'V137160'
 'V137237' 'V137289' 'V139094' 'V139107' 'V139548' 'V140091' 'V140364'
 'V140784' 'V150834' 'V150844' 'V150847' 'V150853' 'V150974' 'V151036'
 'V151236' 'V151273' 'V151284' 'V151329' 'V151331' 'V151332' 'V151333'
 'V151334' 'V151336' 'V151337' 'V151340' 'V151399' 'V151407' 'V152053'
 'V152061' 'V152067' 'V152079' 'V152102' 'V152253' 'V152300' 'V152312'
 'V152320' 'V152322' 'V152440' 'V152734' 'V152779' 'V155180' 'V155820'
 'V155842' 'V155843' 'V155918' 'V156247' 'V156305' 'V156314' 'V156367'
 'V156368' 'V156516' 'V156553' 'V156565' 'V156574' 'V156642' 'V156763'
 'V156774' 'V156783' 'V156786' 'V156797' 'V156806' 'V156807']
0         11
1         11
2         11
3         11
4        104
5          5
6          4
7        104
8         33
9          5
10         4
11       104
12        33
13         5
14       114
15         4
16         3
17        33
18       114
19         4
20         3
21        33
22        34
23        13
24         5
25        13
26         5
27        13
28         5
29        13
        ...
82006    109
82007     77
82008    149
82009     91
82010    151
82011     98
82012    109
82013     77
82014    149
82015     91
82016     98
82017    109
82018     77
82019    149
82020    108
82021     98
82022    109
82023     77
82024    149
82025    108
82026     98
82027    109
82028     77
82029    149
82030    108
82031     98
82032    109
82033     77
82034    149
82035    108
Name: Variety, Length: 82036, dtype: int64

In [5]:
df.Variety = df.Variety.apply(lambda var: '{0:08b}'.format(var))

In [45]:
'{0:08b}'.format(174)

'10101110'

In [25]:
variety_binary_df = pd.DataFrame(columns = [i for i in range(0,7)])

In [26]:
df.Variety = df.Variety.apply(lambda var: list(var))

In [31]:
pd.Series(df.Variety[0])

0    0
1    0
2    0
3    0
4    1
5    0
6    1
7    1
dtype: object

In [46]:
pd.DataFrame(pd.Series(df.Variety[i]) for i in range(0, 10))

   0  1  2  3  4  5  6  7
0  0  0  0  0  1  0  1  1
1  0  0  0  0  1  0  1  1
2  0  0  0  0  1  0  1  1
3  0  0  0  0  1  0  1  1
4  0  1  1  0  1  0  0  0
5  0  0  0  0  0  1  0  1
6  0  0  0  0  0  1  0  0
7  0  1  1  0  1  0  0  0
8  0  0  1  0  0  0  0  1
9  0  0  0  0  0  1  0  1

In [23]:
variety_binary_df
variety_binary_df = pd.Series(df.Variety.apply(lambda var: list(var)))

In [24]:
variety_binary_df

0        [0, 0, 0, 0, 1, 0, 1, 1]
1        [0, 0, 0, 0, 1, 0, 1, 1]
2        [0, 0, 0, 0, 1, 0, 1, 1]
3        [0, 0, 0, 0, 1, 0, 1, 1]
4        [0, 1, 1, 0, 1, 0, 0, 0]
5        [0, 0, 0, 0, 0, 1, 0, 1]
6        [0, 0, 0, 0, 0, 1, 0, 0]
7        [0, 1, 1, 0, 1, 0, 0, 0]
8        [0, 0, 1, 0, 0, 0, 0, 1]
9        [0, 0, 0, 0, 0, 1, 0, 1]
10       [0, 0, 0, 0, 0, 1, 0, 0]
11       [0, 1, 1, 0, 1, 0, 0, 0]
12       [0, 0, 1, 0, 0, 0, 0, 1]
13       [0, 0, 0, 0, 0, 1, 0, 1]
14       [0, 1, 1, 1, 0, 0, 1, 0]
15       [0, 0, 0, 0, 0, 1, 0, 0]
16       [0, 0, 0, 0, 0, 0, 1, 1]
17       [0, 0, 1, 0, 0, 0, 0, 1]
18       [0, 1, 1, 1, 0, 0, 1, 0]
19       [0, 0, 0, 0, 0, 1, 0, 0]
20       [0, 0, 0, 0, 0, 0, 1, 1]
21       [0, 0, 1, 0, 0, 0, 0, 1]
22       [0, 0, 1, 0, 0, 0, 1, 0]
23       [0, 0, 0, 0, 1, 1, 0, 1]
24       [0, 0, 0, 0, 0, 1, 0, 1]
25       [0, 0, 0, 0, 1, 1, 0, 1]
26       [0, 0, 0, 0, 0, 1, 0, 1]
27       [0, 0, 0, 0, 1, 1, 0, 1]
28       [0, 0, 0, 0, 0, 1, 0, 1]
29       [0, 0, 0, 0, 1, 1, 0, 1]
                   ...
82006    [0, 1, 1, 0, 1, 1, 0, 1]
82007    [0, 1, 0, 0, 1, 1, 0, 1]
82008    [1, 0, 0, 1, 0, 1, 0, 1]
82009    [0, 1, 0, 1, 1, 0, 1, 1]
82010    [1, 0, 0, 1, 0, 1, 1, 1]
82011    [0, 1, 1, 0, 0, 0, 1, 0]
82012    [0, 1, 1, 0, 1, 1, 0, 1]
82013    [0, 1, 0, 0, 1, 1, 0, 1]
82014    [1, 0, 0, 1, 0, 1, 0, 1]
82015    [0, 1, 0, 1, 1, 0, 1, 1]
82016    [0, 1, 1, 0, 0, 0, 1, 0]
82017    [0, 1, 1, 0, 1, 1, 0, 1]
82018    [0, 1, 0, 0, 1, 1, 0, 1]
82019    [1, 0, 0, 1, 0, 1, 0, 1]
82020    [0, 1, 1, 0, 1, 1, 0, 0]
82021    [0, 1, 1, 0, 0, 0, 1, 0]
82022    [0, 1, 1, 0, 1, 1, 0, 1]
82023    [0, 1, 0, 0, 1, 1, 0, 1]
82024    [1, 0, 0, 1, 0, 1, 0, 1]
82025    [0, 1, 1, 0, 1, 1, 0, 0]
82026    [0, 1, 1, 0, 0, 0, 1, 0]
82027    [0, 1, 1, 0, 1, 1, 0, 1]
82028    [0, 1, 0, 0, 1, 1, 0, 1]
82029    [1, 0, 0, 1, 0, 1, 0, 1]
82030    [0, 1, 1, 0, 1, 1, 0, 0]
82031    [0, 1, 1, 0, 0, 0, 1, 0]
82032    [0, 1, 1, 0, 1, 1, 0, 1]
82033    [0, 1, 0, 0, 1, 1, 0, 1]
82034    [1, 0, 0, 1, 0, 1, 0, 1]
82035    [0, 1, 1, 0, 1, 1, 0, 0]
Name: Variety, Length: 82036, dtype: object

In [4]:
'{0:08b}'.format(174)

'10101110'

In [18]:
list('10101110')

['1', '0', '1', '0', '1', '1', '1', '0']

In [ ]:
from sklearn import preprocessing
lb = preprocessing.LabelBinarizer(sparse_output=True)
binarized = lb.fit(df.Variety)
print(binarized)
binarized.transform(df.Variety)
# df.Variety = pd.Series(binarized.transform(df.Variety))
# print(len(binarized.transform(df.Variety).reshape(1,-1)[0]))
print(binarized.transform([150]))
print(binarized.classes_)
print(binarized.transform(['V000016']))

In [ ]:
df.Variety

In [ ]:
# CURRENTLY NECESSARY IF: USING 174 ADDITIONAL VARIETY COLUMNS METHOD

# THIS IS A DIFFERENT APPROACH TO THE ABOVE FOUR CELLS, WHERE WE HAVE 174 ADDITIONAL FEATURE COLUMNS
# EACH WITH A 0 (IF IT IS NOT OF THAT VARIETY) OR A 1 (IF IT IS OF THAT VARIETY)

# print(df)
variety_dummies = pd.get_dummies(df.Variety)
# print(dummies)
df = pd.concat([df, variety_dummies], axis=1)

In [ ]:
# OPTIONAL VARIETY DISTRIBUTION ANALYSIS

print(variety_dummies.sum().describe())
print(np.sort(variety_dummies.sum()))
for idx, cl in enumerate(variety_dummies.sum()):
    print(variety_dummies.columns[idx], cl)

In [ ]:
print(df.columns)

In [ ]:
# GOAL OF THIS MODULE:
# Encode the planting date as a season
# NEW GOAL:
# GET DUMMIES FOR SEASONS

# remove the dates that are "."
df = df[~df['Planting date'].str.match("\.")]
plant_date = df['Planting date'].apply(lambda dt: pd.to_datetime(dt))
plant_months = plant_date.apply(lambda dt: dt.month)
season = plant_date.rename("Season")
season = pd.to_datetime(season)
season = season.apply(lambda dt: (dt.month%12 + 3)//3)
# df['Plant date'] = pd.to_datetime(df['Plant date'])
df = pd.concat([df, season], axis=1)

# plant_date = pd.to_datetime(df['Planting date'], infer_datetime_format=True)
# df = df['Planting date'].apply(lambda dt: (dt.month%12 + 3)//3)
# pd.get_dummies(df['Planting date'])

In [ ]:
# ADD MONTH OF MAY AND JUNE ONE HOT ENCODING INTO THE DATAFRAME
pd.get_dummies(plant_months).sum()
june = pd.get_dummies(plant_months).loc[:,6]
june = june.rename("June")
may = pd.get_dummies(plant_months).loc[:,5]
may = may.rename("May")
df = pd.concat([df, may], axis=1)
df = pd.concat([df, june], axis=1)

In [ ]:
pd.get_dummies(df['Season']).sum()

In [ ]:
print(df.columns)
print(df.isnull().sum())

In [ ]:
# LATITUDE AND LONGITUDE CLUSTERING INTO FEATURES

from sklearn.cluster import KMeans

latlong = df.loc[:, ['Latitude', 'Longitude']]

kmeans = KMeans(n_clusters=4, random_state=0).fit(latlong)
kmeans.labels_.shape
lat_long_dummies = pd.get_dummies(kmeans.labels_)
lat_long_dummies = lat_long_dummies.rename(index=int, columns={0: "Loc Clust 0",
                                                               1: "Loc Clust 1",
                                                               2: "Loc Clust 2",
                                                               3: "Loc Clust 3"})
df = pd.concat([df, lat_long_dummies], axis = 1)

In [ ]:
np.asarray(df.iloc[:, df.columns.str.match('V\d\d\d\d\d\d')].columns)

In [ ]:
#THIS IS A VISUALIZATION FOR LATITUDE AND LONGITUDE CLUSTERING

cent = kmeans.cluster_centers_
clust_labels = kmeans.labels_
means = pd.DataFrame(clust_labels)

import matplotlib.pyplot as plt
fig = plt.figure()
ax = fig.add_subplot(111)
scatter = ax.scatter(df['Latitude'],df['Longitude'],
                     c=means[0], s=50)
ax.set_title('K-Means Clustering')
ax.set_xlabel('Latitude')
ax.set_ylabel('Longitude')
plt.colorbar(scatter)

In [ ]:
# DROP ALL THE CELLS THAT ARE NOT USABLE SUCH AS THE ONES THAT ARE STRINGS OR DATES

# set if want to drop some columns specifically
should_drop = 1
columns_to_drop = ['Experiment', 'Location',
                   'Check Yield', 'Yield difference', 'Latitude',
                   'Longitude', 'Variety', 'PI', 'Planting date']

# set if want to keep some columns specifically
should_keep = 0
# columns_to_keep = ['Loc Clust 0', 'Loc Clust 1', 'Loc Clust 2', 'Loc Clust 3']
columns_to_keep_top = ['Silt', 'Precipitation', 'Temperature', 'Solar Radiation', 'Organic matter']
columns_VARIETIES_ONLY = np.asarray(df.iloc[:, df.columns.str.match('V\d\d\d\d\d\d')].columns)

#set the below variable to whatever columns you want to keep
columns_to_keep = columns_to_keep_top

MUST_HAVE_COLUMNS = ['Yield']
# print(columns_to_keep)

df = df.drop(columns_to_drop, axis=1) if should_drop else df
df = df.loc[:, np.concatenate((columns_to_keep, MUST_HAVE_COLUMNS))] if should_keep else df
df['YieldBucket'] = pd.Series(pd.qcut(df.Yield, q=3, labels=["high", "medium", "low"]))
print("The final dataframe has columns: ", df.columns)

In [ ]:
print(pd.get_dummies(df.YieldBucket).sum())

In [ ]:
print(pd.get_dummies(df.YieldBucket).sum())